<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= render 'follow_form' if logged_in? %>


<%= link_to 'Edit', edit_user_path(@user) if logged_in? && current_user?(@user) %>